header .navbar {
  background-color: #fffdee !important;
}
header .navbar .navCon .navbar-brand img {
  width: 4rem;
}
header .navbar .navCon .collapse .navbar-nav .dropCar {
  position: relative;
}
header .navbar .navCon .collapse .navbar-nav .dropCar .dropHover {
  position: absolute;
  display: none;
}
header .navbar .navCon .collapse .navbar-nav .dropCar:hover .dropHover {
  display: block;
}
header .navbar .secondNav .btn-group {
  position: relative;
}
header .navbar .secondNav .btn-group .dropDown {
  display: none;
  position: absolute;
}
header .navbar .secondNav .btn-group:hover .dropDown {
  display: block;
}