header .navbar {
  background-color: #fffdee !important;
}
header .navbar .navCon .navbar-brand img {
  width: 4rem;
}
header .navbar .navCon .collapse .navbar-nav .nav-link .dropCar .dropHover {
  display: none !important;
}