*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  width: 100%;
}

header{
    .navbar{
    background-color: #fffdee !important;

        .navCon{
            .navbar-brand{
                img{
                    width: 4rem;
                }
            }
            .collapse{
                .navbar-nav{
                    .dropCar {
                        position: relative;
                        .dropHover {
                            position: absolute;
                          display: none;
                        }
                        
                        &:hover {
                          .dropHover {
                            display: block;
                          }
                        }
                      }
                      
                }
            }
        }

        .secondNav{
            .btn-group{
                position: relative;
                }   
                .dropDown{
                    width: 25rem !important;
                    display: none;
                    position: absolute;
                    
                    #listing{
                      text-decoration: none;
                      margin-left: 1rem;
                      line-height: 2rem;
                      color: black;
                    }
              }
              &:hover {
                .dropDown {
                  display: block;
                }
              }
        }
    }
}

  