header{
    .navbar{
    background-color: #fffdee !important;

        .navCon{
            .navbar-brand{
                img{
                    width: 4rem;
                }
            }
            .collapse{
                .navbar-nav{
                    .nav-link{
                        .dropCar{
                            .dropHover{
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}